<template>
  <div class="bg-commingsoon">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center" v-if="trigerresponse">
              <div class="notification">
                <span class="notif-image"
                  ><img
                    style="margin-bottom:5px"
                    src="../assets/icon_success_white-1.svg"
                /></span>
                <span class="notif-content">{{ responsetext }}</span>
              </div>
            </div>
            <div class="col-12">
              <img
                class="d-none d-md-block my-5"
                src="../assets/Ketemuinlogo-1.svg"
                alt=""
              />
              <img
                class="d-block d-md-none my-4"
                src="../assets/ketemuin-logo-m.svg"
                alt=""
              />
            </div>
            <div class="col-12 col-md-6 mt-md-5">
              <div class="row">
                <div class="col-12">
                  <p class="hi">Hi!</p>
                  <p class="content">
                    Segera hadir platform untuk mempertemukan pencari jasa
                    professional dengan penyedia jasa professional. Gabung
                    sekarang, dapatkan akses lebih awal dan kejutan menarik.
                    Yuk, ketemuan di ketemuin!
                  </p>
                  <div class="row">
                    <div class="col-12 col-md-8 mb-3">
                      <input
                        id="emailinput"
                        type="text"
                        class="form-control input-text"
                        placeholder="email address"
                      />
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <button
                        class="btn btn-block btn-blue"
                        v-on:click="send()"
                      >
                        Dapatkan Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-5">
              <div class="row">
                <div class="col-12 d-none d-md-block text-center">
                  <img src="../assets/icon.png" style="width: 100%;" />
                </div>
                <div class="col-12 d-block d-md-none text-center mt-5">
                  <img
                    src="../assets/iconresponsive.png"
                    style="width: 100%;"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 text-center p-3">
              <p class="footerdesign">© 2020 Ketemuin. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@import "../assets/fonts.css";
@media (min-width: 576px) {
  .bg-commingsoon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg-1.svg);
  }
  .footerdesign {
    font-size: 16px;
    color: #2e6b87;
    font-family: "regular";
  }
  .title {
    color: #2e6b87;
  }
  .input-text {
    border: none !important;
  }
  .btn-blue {
    font-size: 16px !important;
    font-family: "bold";
    background-color: #f2b451 !important;
    color: white !important;
  }
  .hi {
    font-size: 80px;
    font-family: "Bold";
    color: #2e6b87;
    font-weight: bold;
  }
  .content {
    font-size: 18px;
    font-family: "medium";
    color: #2e6b87;
  }
  .notification {
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 3rem);
    padding: 0.5rem;
  }
  .notif-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #f2b451;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-content {
    padding: 0.5rem;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px #aaaaaa;
  }
}
@media (max-width: 576px) {
  .bg-commingsoon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg2-1.svg);
  }
  .footerdesign {
    font-size: 14px;
    color: #2e6b87;
    font-family: "regular";
  }
  .title {
    color: #2e6b87;
  }
  .input-text {
    border: none !important;
  }
  .btn-blue {
    font-size: 16px !important;
    font-family: "bold";
    background-color: #f2b451 !important;
    color: white !important;
  }
  .hi {
    font-size: 60px;
    font-family: "Bold";
    color: #2e6b87;
    font-weight: bold;
  }
  .content {
    font-size: 16px;
    font-family: "medium";
    color: #2e6b87;
  }
  .notification {
    position: fixed;
    z-index: 1;
    left: 15%;
    transform: translate(0, 3rem);
    padding: 0.5rem;
  }
  .notif-image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #f2b451;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-content {
    padding: 0.5rem;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px #aaaaaa;
  }
}
</style>
<script>
/* eslint-disable */
import axios from "axios";
import $ from "jquery";
export default {
  data() {
    return {
      email: "",
      success: false,
      responsetext: null,
      trigerresponse: false,
    };
  },
  mounted() {},
  methods: {
    validateEmail(input) {
      let mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (input.match(mailformat)) {
        return true;
      } else {
        return false;
      }
    },
    send() {
      let email = $("#emailinput").val();
      if (email != "" && this.validateEmail(email) === true) {
        this.trigerresponse = true;
        this.success = true;
        const bodyFormData = new FormData();
        bodyFormData.set("email", email);
        axios({
          method: "post",
          url: "http://api.ketemuin.id/v1/register",
          data: bodyFormData,
          headers: { "Content-Type": "multipart/form-data" },
        })
          .then((response) => {
            if (response.data.status == 200) {
              this.trigerresponse = true;
              this.responsetext = "Email berhasil ditambahkan";
              $("#emailinput").val("");
              setTimeout(() => {
                this.trigerresponse = false;
              }, 3000);
            } else {
              this.trigerresponse = true;
              this.responsetext = "Email gagal ditambahkan";
              setTimeout(() => {
                this.trigerresponse = false;
              }, 3000);
            }
          })
          .catch((response) => {
            if (response.error) {
              this.trigerresponse = true;
              this.responsetext = "Email gagal ditambahkan";
              setTimeout(() => {
                this.trigerresponse = false;
              }, 3000);
            }
          });
      }
    },
  },
};
</script>
