<template>
  <div class="dashboard">
    <Header></Header>
        <router-view/>
    <Footer></Footer>
  </div>
</template>
<script>
import Footer from '../components/Footer'
import Header from '../components/Header'
export default {
    components :{
        Header,
        Footer
    }
}
</script>