<template>
  <div class="home">
    <h1>This is an content home page</h1>
  </div>
</template>
<script>
import { messageService } from '@/_services';
export default {
    name: 'home',
    data () {
        return {
            messages: []
        };
    },
    created () {
        this.subscription = messageService.getMessage().subscribe(message => {
            console.log(message);
        });
    },
    beforeDestroy () {
        this.subscription.unsubscribe();
    }
};
</script>