<template>
  <div class="container">
      <div class="row">
          <div class="col-12 text-center mt-5">
                <h1>Oops Page not found</h1>
          </div>
      </div>
  </div>
</template>
