<template>
  <div class="header">
    <button v-on:click="sendMessage()">Header</button>
  </div>
</template>
<script>
import { messageService } from '@/_services';
export default {
    methods: {
        sendMessage() {
            messageService.sendMessage('Message from Home Page Component to App Component!');
        },
        clearMessages() {
            messageService.clearMessages();
        }
    }
}
</script>